{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}

<div class="post_name">
    
</div>

<div class="profile-card">
    
    <h4 id='author-name'>Logged in username: {{ user.username }}</h4> 
    {% if author %}
        <h4 class='author-name'>Author username: {{ author.username }}</h4>
        <p>Author Name: {{ author.first_name }} {{ author.last_name }}</p>
        <p class="title">Author contact details: {{ author.email }}</p>
    {% endif %}
    

</div>
{% comment %}
<!-- {% if request.user == author %}

<h4>Your favourite post{{ author.favourites.count|pluralize:"s"}}:</h4>
<ul>
    {% for story in author.favourites.all %}
    <li>
        <a href="{% url 'news:story' story.id %}">
            {{ story.title }} by {{ story.author }}
        </a>
    </li>
    {% endfor %}
</ul>
Total: {{author.favourites.count}}
<h4>Your posted stories:</h4>
</div>
{% else %}
<h4>Posted stories:</h4>
{% endif %} -->
{% endcomment %} 

<h3>Articles by {{ author.username }}</h3>
<div class='userAppStorySection'>
{% for story in author.newsstory_set.all %}

    {% include "news/storyCard.html" with story=story %}
{% endfor %}

</div>
{% endblock%}


{% comment %} forloop.counter {% endcomment %} 
